<h1>材料紀錄詳情</h1>
<p>材料名稱：<%= @material_usage.carbon_emission.item_name %></p>
<p>使用數量：<%= @material_usage.quantity %> <%= @material_usage.carbon_emission.unit %></p>
<p>碳排放量：<%= @material_usage.total_emission %> kg CO₂e</p>
